#main {
    background-color: #ffffff;
    position: relative;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;

    display: flex;
    flex-direction: column;
    width: 90%;
}

#main > .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}