#intro {
    padding: 0 ;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    cursor: default;
    z-index: 1;
}

#intro-btn {
    box-shadow: inset 0 0 0 2px white;
    color: white !important;
    
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    font-size: 2rem;
}

#intro-btn:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important;
}

    #intro button {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px #ffffff;
        color: #ffffff !important;
    }

    #intro h1 {
        font-size: 5rem;
        line-height: 1;
    }

    #intro p {
        font-size: 1.25rem;
        font-style: italic;
        margin-top: -0.25rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    @media screen and (max-width: 980px) {


    }

    @media screen and (max-width: 736px) {
        #intro h1 {
            font-size: 3.25rem;
            line-height: 1.1;
            margin-bottom: 1rem;
        }

        #intro p {
            font-size: 1rem;
            margin-top: 0rem;
        }
    }
