article {
    display: grid;
    grid-template-rows: 10rem 10rem 8rem 5rem;
    align-items: center;
    text-align: center;
    width: 100%;
};

section {
    margin-bottom: -2rem;
    color:red;
}

h2 {
    margin-bottom: 0;
}

article > p {
    margin: 0 3rem;
    align-self: start;
}

article > ul {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
}

.image {
    height: 100%;
}

.image > img {
    /* width: 100%; */
    max-width:100%;
    max-height:100%;
}